# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Virtual environments
env/
venv/
ENV/
.venv/

# IDEs
.idea/
.vscode/

# Static & media (ако качваш динамично)
staticfiles/
media/

# Allow tracking migration files (required for deployment)
!*/migrations/
!*/migrations/*.py

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env